<app-sidebar></app-sidebar>

<div class="border-bottom pt-5 mt-2 mb-5">
  <!-- <h1 class="mt-2 mt-md-4 mb-3 pt-5" *ngIf="producto.tipo == 'producto'">Productos</h1> -->
  <h1 class="mt-2 mt-md-4 mb-3 pt-5" *ngIf="producto.tipo == 'vehiculo'">Vehiculos</h1>
</div>

<ng-container *ngIf="load_data">
  <div class="card-body">
    <div class="row">
      <div class="col-12 text-center">
        <div class="spinner-grow text-muted m-2" role="status"><span class="visually-hidden"></span></div>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!load_data">
  <div class="card-body" *ngIf="producto">
    <!-- <ng-container *ngIf="producto.tipo == 'producto'">
      <form #actualizarForm="ngForm" (ngSubmit)="actualizar(actualizarForm)">
        <div class="card box-shadow-sm">
          <div class="card-header">
            <h5 style="margin-bottom: 0px;">Actualización de producto</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-8">
                <div class="row">
                  <div class="col-lg-8 col-md-6 form-group">
                    <label for="">Producto</label>
                    <input type="text" class="form-control" placeholder="Titulo de producto" required name="titulo"
                      [(ngModel)]="producto.titulo">
                  </div>
                  <div class="col-lg-4 col-md-6 form-group">
                    <label for="">Código</label>
                    <input type="text" class="form-control" placeholder="Código de producto" required name="codigo"
                      [(ngModel)]="producto.codigo">
                  </div>
                  <div class="col-lg-3 col-md-6 form-group">
                    <label for="">Stock</label>
                    <input disabled type="number" class="form-control" placeholder="Cantidad inicial" required
                      name="stock" [(ngModel)]="producto.stock">
                  </div>
                  <div class="col-lg-3 col-md-6 form-group">
                    <label for="">Alerta de stock</label>
                    <input type="number" class="form-control" placeholder="Alertar stock" min="1" name="alerta_stock"
                      [(ngModel)]="producto.alerta_stock">
                  </div>
                  <div class="col-lg-3 col-md-6 form-group">
                    <label for="">Precio</label>
                    <input type="number" class="form-control" placeholder="Precio" required name="precio"
                      [(ngModel)]="producto.precio">
                  </div>
                  <div class="col-lg-3 col-md-6 form-group">
                    <label for="">Categoría</label>
                    <select class="form-control custom-select" id="select-input" required name="categoria"
                      [(ngModel)]="producto.categoria">
                      <option value="" selected disabled>Seleccionar</option>
                      <option value="{{item.titulo}}" *ngFor="let item of config.categorias">{{item.titulo}}</option>
                    </select>
                  </div>

                  <div class="col-lg-12 form-group">
                    <label for="">Descripción corta</label>
                    <textarea class="form-control" placeholder="Titulo de producto" required rows="5" name="descripcion"
                      [(ngModel)]="producto.descripcion"></textarea>
                  </div>

                  <div class="col-lg-12 form-group">
                    <tinymce [config]="config" name="contenido" [(ngModel)]="producto.contenido">
                    </tinymce>
                  </div>

                </div>
              </div>
              <div class="col-lg-4">
                <div class="row">
                  <div class="col-lg-12 form-group">
                    <label for="">Portada</label>
                    <div class="custom-file">
                      <input class="custom-file-input" type="file" id="file-input" (change)="fileChangeEvent($event)">
                      <label class="custom-file-label" id="portadaText" for="file-input"
                        style="white-space:nowrap; overflow:hidden">Seleccionar imagen</label>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <img [src]="imgSelect" class="img-thumbnail" alt="Rounded image">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button *ngIf="!load_btn" class="btn btn-primary mr-3" type="submit">Actualizar producto</button>
            <button *ngIf="load_btn" type="button" class="btn btn-secondary" disabled>
              <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
              Actualizando...
            </button>
            <a [routerLink]="['/panel/productos']" class="btn btn-warning">Regresar</a>
          </div>
        </div>

      </form>
    </ng-container> -->
    <ng-container *ngIf="producto.tipo == 'vehiculo'">
      <form #actualizarForm="ngForm" (ngSubmit)="actualizar(actualizarForm)">
        <div class="card box-shadow-sm">
          <div class="card-header">
            <h5 style="margin-bottom: 0px;">Actualización de vehiculo</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-8">
                <div class="row">
                  <div class="col-lg-7 col-md-6 form-group">
                    <label for="">Vehiculo</label>
                    <input type="text" class="form-control" placeholder="Titulo del Vehiculo" required name="titulo"
                      [(ngModel)]="producto.titulo">
                  </div>
                  <div class="col-lg-3 col-md-4 form-group">
                    <label for="">Patente</label>
                    <input type="text" class="form-control" placeholder="Patente del vehiculo" required name="codigo"
                      [(ngModel)]="producto.codigo">
                  </div>
                  <div class="col-lg-2 col-md-2 form-group">
                    <label for="">Modelo</label>
                    <input type="number" class="form-control" placeholder="Modelo" min="1" name="ano"
                      [(ngModel)]="producto.ano">
                  </div>
                  <div class="col-lg-3 col-md-6 form-group">
                    <label for="">Kilometros</label>
                    <input type="number" class="form-control" placeholder="Kilometros" min="1" name="kilometros"
                      [(ngModel)]="producto.kilometros">
                  </div>
                  <div class="col-lg-3 col-md-6 form-group">
                    <label for="">Precio</label>
                    <input type="number" class="form-control" placeholder="Precio" min="1" required name="precio"
                      [(ngModel)]="producto.precio">
                  </div>
                  <div class="col-lg-3 col-md-6 form-group">
                    <label for="">Anticipo</label>
                    <input type="number" class="form-control" placeholder="Anticipo" min="1" required name="anticipo"
                      [(ngModel)]="producto.anticipo">
                  </div>
                  <div class="col-lg-3 col-md-6 form-group">
                    <label for="">Categoría</label>
                    <select class="form-control custom-select" id="select-input" required name="categoria"
                      [(ngModel)]="producto.categoria">
                      <option value="" selected disabled>Seleccionar</option>
                      <option value="{{item.titulo}}" *ngFor="let item of config.categorias">{{item.titulo}}</option>
                    </select>
                  </div>
                  <div class="col-lg-3 col-md-6 form-group">
                    <label class="form-label">Vencimiento VTV</label>
                    <input class="form-control" type="date" name="vto_vtv" [(ngModel)]="producto.vto_vtv">
                  </div>
                  <div class="col-lg-3 col-md-6 form-group">
                    <!-- Inline radio buttons -->
                    <label class="form-label">Aire acondicionado</label>
                    <div class="cntr">
                      <label for="aire-1" class="btn-radio cursor">
                        <input type="radio" id="aire-1" value="Tiene" name="aire" [(ngModel)]="producto.aire">
                        <svg width="20px" height="20px" viewBox="0 0 20 20">
                          <circle cx="10" cy="10" r="9"></circle>
                          <path
                            d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z"
                            class="inner"></path>
                          <path
                            d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z"
                            class="outer"></path>
                        </svg>
                        <label for="aire-1" class="cursor">Tiene</label>
                      </label>
                      <label for="aire-2" class="btn-radio cursor">
                        <input type="radio" id="aire-2" value="No tiene" name="aire" [(ngModel)]="producto.aire">
                        <svg width="20px" height="20px" viewBox="0 0 20 20">
                          <circle cx="10" cy="10" r="9"></circle>
                          <path
                            d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z"
                            class="inner"></path>
                          <path
                            d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z"
                            class="outer"></path>
                        </svg>
                        <label for="aire-2" class="cursor">No tiene</label>
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 form-group">
                    <!-- Inline radio buttons -->
                    <label class="form-label">Dirección</label>
                    <div class="cntr">
                      <label for="direccion-1" class="btn-radio cursor">
                        <input type="radio" id="direccion-1" value="Hidraulica" name="direccion"
                          [(ngModel)]="producto.direccion">
                        <svg width="20px" height="20px" viewBox="0 0 20 20">
                          <circle cx="10" cy="10" r="9"></circle>
                          <path
                            d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z"
                            class="inner"></path>
                          <path
                            d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z"
                            class="outer"></path>
                        </svg>
                        <label for="direccion-1" class="cursor">Hidraulica</label>
                      </label>
                      <label for="direccion-2" class="btn-radio cursor">
                        <input type="radio" id="direccion-2" value="Manual" name="direccion" [(ngModel)]="producto.direccion">
                        <svg width="20px" height="20px" viewBox="0 0 20 20">
                          <circle cx="10" cy="10" r="9"></circle>
                          <path
                            d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z"
                            class="inner"></path>
                          <path
                            d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z"
                            class="outer"></path>
                        </svg>
                        <label for="direccion-2" class="cursor">Manual</label>
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 form-group">
                    <!-- Inline radio buttons -->
                    <label class="form-label">GNC</label>
                    <div class="cntr">
                      <label for="gnc-1" class="btn-radio cursor">
                        <input type="radio" id="gnc-1" value="Tiene" name="gnc" [(ngModel)]="producto.gnc">
                        <svg width="20px" height="20px" viewBox="0 0 20 20">
                          <circle cx="10" cy="10" r="9"></circle>
                          <path
                            d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z"
                            class="inner"></path>
                          <path
                            d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z"
                            class="outer"></path>
                        </svg>
                        <label for="gnc-1" class="cursor">Tiene</label>
                      </label>
                      <label for="gnc-2" class="btn-radio cursor">
                        <input type="radio" id="gnc-2" value="No tiene" name="gnc" [(ngModel)]="producto.gnc">
                        <svg width="20px" height="20px" viewBox="0 0 20 20">
                          <circle cx="10" cy="10" r="9"></circle>
                          <path
                            d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z"
                            class="inner"></path>
                          <path
                            d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z"
                            class="outer"></path>
                        </svg>
                        <label for="gnc-2" class="cursor">No tiene</label>
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-12 form-group">
                    <label for="">Descripción corta</label>
                    <textarea class="form-control" placeholder="Titulo de producto" required rows="5" name="descripcion"
                      [(ngModel)]="producto.descripcion"></textarea>
                  </div>
                  <div class="col-lg-12 form-group">
                    <label for="">Contenido redes</label>
                    <tinymce [config]="config" name="contenido" [(ngModel)]="producto.contenido">
                    </tinymce>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="row">
                  <div class="col-lg-12 form-group">
                    <label for="">Portada</label>
                    <div class="custom-file">
                      <input class="custom-file-input" type="file" id="file-input" (change)="fileChangeEvent($event)">
                      <label class="custom-file-label" id="portadaText" for="file-input"
                        style="white-space:nowrap; overflow:hidden">Seleccionar imagen</label>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <img [src]="imgSelect" class="img-thumbnail" alt="Rounded image">
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button *ngIf="!load_btn" class="btn btn-primary mr-3" type="submit">Actualizar producto</button>
              <button *ngIf="load_btn" type="button" class="btn btn-secondary" disabled>
                <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                Actualizando...
              </button>
              <a [routerLink]="['/panel/productos']" class="btn btn-warning">Regresar</a>
            </div>
          </div>
        </div>
      </form>
    </ng-container>
  </div>
  <div class="card-body" *ngIf="!producto">
    <h3 class="text-center">No se encontró el producto</h3>
    <div class="row">
      <div class="col-2 mx-auto">
        <img src="assets/img/advertencia.png" alt="" style="width: 100%;">
      </div>
    </div>
    <a [routerLink]="['/panel/productos']" class="btn btn-warning">Regresar</a>
  </div>
</ng-container>